$sidebarWidth: 260px;
$transition: all 0.2s ease-in;
$surface: rgb(var(--v-theme-surface));
$background: rgb(var(--v-theme-background));
$onBackground: rgb(var(--v-theme-on-background));
$onBackgroundHover: rgba(var(--v-theme-on-background-hover), 0.04);
$sidebarLink: #011e3d;
$primary: #0a68ff;
